
<div class="container-fluid flex mx-2">
    <h2>Welcome </h2> 
    <h2 id="userTitle">{{user}}</h2> 
    <a href="/session/logout" style="text-decoration: none; color: inherit;">
                <button type="button" class="btn btn-outline-success">Logout</button>
    </a>
</div> 
